body {
    background-color: beige;
}
h3{
    color: purple;
    font-family: cursive;
}
img {
    height: 50%;
    width: 50%;
}
p {
    font-weight: bolder;
    font-style: italic;
    font-size: 100%;
    font-family: bahaus;
}
.hobbies {
    color: red;
}
#aspirations {
    color: purple;
}
